.dualbg{
    background: linear-gradient(100.27deg, #263238 22.66%, #2F4B59 67.67%);
}

.bg-vector{
    background-image: url('./assets/bhive-landing-image/bPentagon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
}

.bg-hexagon{
    background-image: url('./assets/bhive-landing-image/Vector\ 7.png');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: bottom; 
}
.bg-hexagonBg{
    background-image: url('./assets/bhive-landing-image/image\ 1936.png');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: bottom; 
}

